body{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: whitesmoke;
    border-bottom: 1px solid #edededec;
    display: flex;
    padding: 0px 90px;
    justify-content: space-between;
}
#heading{
    display: flex;
    gap: 650px;
    align-items: center;
}
.nav-items{
    list-style-type: none;
}
